src/wsdl/AuctionWS.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="AuctionWSService" targetNamespace="http://ws.web.auction.showcase.camunda.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.web.auction.showcase.camunda.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://ws.web.auction.showcase.camunda.com/" version="1.0" xmlns:tns="http://ws.web.auction.showcase.camunda.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="createAuction" type="tns:createAuction"/>
      <xs:element name="createAuctionResponse" type="tns:createAuctionResponse"/>
      <xs:complexType name="createAuction">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string"/>
          <xs:element minOccurs="0" name="arg1" type="xs:string"/>
          <xs:element minOccurs="0" name="arg2" type="xs:dateTime"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="createAuctionResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:long"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="createAuctionResponse">
    <wsdl:part element="tns:createAuctionResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createAuction">
    <wsdl:part element="tns:createAuction" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AuctionWS">
    <wsdl:operation name="createAuction">
      <wsdl:input message="tns:createAuction" name="createAuction">
      </wsdl:input>
      <wsdl:output message="tns:createAuctionResponse" name="createAuctionResponse">
      </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AuctionWSServiceSoapBinding" type="tns:AuctionWS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="createAuction">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createAuction">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createAuctionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuctionWSService">
    <wsdl:port binding="tns:AuctionWSServiceSoapBinding" name="AuctionWSPort">
      <soap:address location="http://localhost:8080/auction-app/AuctionWS"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>